@page
@model Impresoras3D.App.Frontend.Pages.CrearImpresoraModel
@{
    ViewData["Title"] = "Crear Impresora";
}
<br><p>@TempData["Usuario"]</p>
<h1>Crear</h1>
<h4>Impresora</h4>
<h3>@ViewData["Error"]</h3>

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h3>@ViewData["Error"]</h3>
            <form method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.TipoImpresora" class="control-label">Tipo Impresora</label>
                        <input type="text" asp-for="impresora3D.TipoImpresora" class="form-control" />
                        <span asp-validation-for="impresora3D.TipoImpresora" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.NombreImpresora" class="control-label">Nombre Impresora </label>
                        <input asp-for="impresora3D.NombreImpresora" type="text" class="form-control" />
                        <span asp-validation-for="impresora3D.NombreImpresora" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.DescripcionGeneral" class="control-label">Descripcion General </label>
                        <input type="text" asp-for="impresora3D.DescripcionGeneral" class="form-control" />
                        <span asp-validation-for="impresora3D.DescripcionGeneral" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="impresora3D.OperariosId" ></label>
                        <select asp-for="impresora3D.OperariosId" class="form-control" >
                            @foreach (var item in Model.operario)
                            {
                                <option value="@item.Id">@item.Nombres</option>
                            }
                        </select>
                        <span asp-validation-for="impresora3D.OperariosId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-sm-6">
                        <label asp-for="impresora3D.OperariosId" class="control-label">operario Asignado </label>
                        <input type="text" asp-for="impresora3D.OperariosId" class="form-control" />
                        <span asp-validation-for="impresora3D.OperariosId" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="impresora3D.TecnicosId" ></label>
                        <select asp-for="impresora3D.TecnicosId" class="form-control" >
                            @foreach (var item in Model.tecnico)
                            {
                                <option value="@item.Id">@item.Nombres</option>
                            }
                        </select>
                        <span asp-validation-for="impresora3D.TecnicosId" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-sm-6">
                        <label asp-for="impresora3D.TecnicosId" class="control-label">Tecnico Asignado </label>
                        <input asp-for="impresora3D.TecnicosId" type="text" class="form-control" />
                        <span asp-validation-for="impresora3D.TecnicosId" class="text-danger"></span>
                    </div>*@
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.PlacaInventario" class="control-label">Placa Inventario </label>
                        <input type="text" asp-for="impresora3D.PlacaInventario" class="form-control" />
                        <span asp-validation-for="impresora3D.PlacaInventario" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.Marca" class="control-label">Marca </label>
                        <input type="text" asp-for="impresora3D.Marca" class="form-control" />
                        <span asp-validation-for="impresora3D.Marca" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.Modelo" class="control-label">Modelo </label>
                        <input asp-for="impresora3D.Modelo" type="text" class="form-control" />
                        <span asp-validation-for="impresora3D.Modelo" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.VelocidadImpresion" class="control-label">Velocidad Impresion </label>
                        <input type="text" asp-for="impresora3D.VelocidadImpresion" class="form-control" />
                        <span asp-validation-for="impresora3D.VelocidadImpresion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.VolumenImpresion" class="control-label">Volumen Impresion </label>
                        <input type="text" asp-for="impresora3D.VolumenImpresion" class="form-control" />
                        <span asp-validation-for="impresora3D.VolumenImpresion" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="impresora3D.PaisOrigen" class="control-label">Pais Origen </label>
                        <input asp-for="impresora3D.PaisOrigen" type="text" class="form-control" />
                        <span asp-validation-for="impresora3D.PaisOrigen" class="text-danger"></span>
                    </div><br>
                </div><br>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


