@page
@model Impresoras3D.App.Frontend.Pages.ListarImpresorasXOperarioModel
@{
}
<br><p>@TempData["Usuario"]</p>
<p> <a asp-page="/Impresoras/ComprasSeguros" class="btn btn-warning" >Seguros</a></p>

<form method="POST">
<h1>Listado de revisiones</h1>
@*<div class="form-group">
    <label for="impresora3D">PlacaInventario</label>
    <input class="form-control" type="text" value="@Model.impresora3D.PlacaInventario"aria-label="readonly input example"readonly>
    <label for="impresora3D">Id</label>
    <input class="form-control" type="text" value="@Model.impresora3D.Id"aria-label="readonly input example"readonly>

</div>*@

<div class="form-group">
        

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                    <th scope="col">Nombre Impresora</th>
                    <th scope="col">Tipo Impresora</th>
                    <th scope="col">Descripcion </th>
                    <th scope="col">Placa Inventario</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Velocidad de impresion</th>
                    <th scope="col">Volumen impresion</th>
                    <th scope="col">Pais origen</th>
            
            </tr>
        </thead>
        <tbody>
            @if (Model.impresoralst != null)
            {
               @foreach (var impresora in Model.impresoralst)
                {
                    <tr>
                        <th scope="row">@impresora.Id</th>
                            <td>@impresora.NombreImpresora</td>
                            <td>@impresora.TipoImpresora</td>
                            <td>@impresora.DescripcionGeneral</td>
                            <td>@impresora.PlacaInventario</td>
                            <td>@impresora.Marca</td>
                            <td>@impresora.Modelo</td>
                            <td>@impresora.VelocidadImpresion</td>
                            <td>@impresora.VolumenImpresion</td>
                            <td>@impresora.PaisOrigen</td>
                            <td>
                            <a asp-page="/Encargados/RevisionImpresora" class="btn btn-danger" asp-route-id="@impresora.Id">Revision</a>
                            <a asp-page="/Impresoras/ComprasSeguros" class="btn btn-warning" asp-route-id="@impresora.Id">Seguros</a>
                            

                            </td>
                            
                            

                        
                    </tr>
                }
            }
     </tbody>
    </table>
</form>